.topbar{
    width: 100%;
    background-color: aqua;
    height: 70px;
}
.login, .signUp{
    display: inline;
    float: right;
    margin: 1%;
    text-decoration: none;
}
.orangeButton{
    height: 35px;
    width: 70px;
    background-color: orange;
    margin: 20px;
    border: none;
    border-radius: 27%;
    margin-top: 20%;
    float: right;
}
.orangeButton:hover{
    width: 5%;
    background-color: orchid;
}
img{
    position: relative;
    margin: 2%;
    width: 100% auto;
}
h1{
    width: 100%;
}

